.sf {
  display: flex;
  flex-direction: column;
  background-color: #e0d9d9;
  width: fit-content;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  font-size: 12px;
  color: #494848;
}
.number {
  font-weight: bold;
  font-size: 25px;
  color: black;
}
